h1, h2, h3, h4, span {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
}
p{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
li{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
a{
    text-decoration: none;
}