@media only screen and (max-width: 480px){
    .container{
        max-width: 327px;
    }
    .container_work{
        max-width: 327px;
    }
        nav{
            .img_logo{
                width: 150px;
            }
            .menu{ 
                display: none;
                li{
                    padding: 38px 90px 0 0;
                    font-family: 'Fraunces', serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            .btn_bar{
                display: block;
            }
        }
        .nav_menu{
            display: block;
            .bar_menu{
                display: none;
                height: 120vh;
                position: absolute;
                top: 80px;
                left: 0;
                right: 0;
                background: linear-gradient( #fff 60%, rgba(255, 255, 255, 0.5)) 100%;
                .menu_item{
                    text-align: center;
                    list-style-type: none;
                    padding-top: 40px;
                    padding-right: 10px;
                    font-family: 'Fraunces', serif;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 32px;
                    a{
                        color: $colorDarcGreyBlue;
                    }
                }
            }
        }
        .header_wrapper{
            background-image: url(../img/bgImgMobile.webp);
            height: 500px;
            h1{
                font-size: 40px;
                line-height: 40px;
                text-align: center;
                margin: 0 0 0 0;
            }
            p{
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                padding-top: 24px;
                margin: 0 24px 35px 24px;
            }
            a{
                margin: 35px 0 0 68px;
            }
        }

    .our_collection {
        h2{
            font-size: 42px;
        }
        .type_coffe{
            flex-wrap: wrap;
            top: 50px;
            .our_coffe{
                max-width: 100%;
                img{
                    padding-left: 45px;
                }

            }
        }

    }
    .services{
        height: 888px;
        margin-top: 1580px;
        .services__title {
            font-size: 28px;
            line-height: 28px;
            padding: 64px 0 24px;
            margin: 0;
        }
        .services__subtitle{
            padding-bottom: 64px;
        }
        .block_service{
            flex-wrap: wrap;
            .service_types{
                max-width: 100%;
                margin: 0 30px;
                margin-bottom: 24px;
                &:nth-child(3) {
                    margin-right: 30px;
                }
            }
        }
    }
    .works_title{
        margin-top: 775px;
        text-align: center;
    }
    .line{
        display: none;
    }
    .works_block{
        flex-wrap: wrap;
        .block__row{
            max-width: 100%;
            text-align: center;
            margin-right: 0;
            .row__title{
                padding-left: 10px;
                margin: 0;
            }
            .row__header_title{
                max-width: 100%;
                padding-left: 28px;
                font-size: 27px;
                line-height: 32px;
            }
            p{
                max-width: 300px;
                margin-bottom: 60px;
                margin-left: 15px;
            }
        }
    }
    .row_link{
        margin: 32px 68px 75px
    }
    .footer{
        flex-wrap: wrap;
        text-align: center;
        .footer_logo{
            width: 100%;
            margin-left: 0;
        }
        ul{
            width: 100%;
            display: block; 
            margin-top: 50px; 
            li{
                margin-right: 0;
                margin-bottom: 24px;
            }
        }
        .icons{
            width: 100%;
            margin-top: 20px;
        }
        
    }


    // ABOUT US //
    .about_header{
        height: 400px;
        background-image: url(../img/bgImgAboutMobile.webp);
        border-radius: 10px;
        margin-bottom: 120px;
        .about__title{
            padding:85px 0 12px 0;
            text-align: center;
        }
        .about__subtitle{
            font-size: 15px;
            line-height: 25px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;

        }
    }




    .our_commitment{
        flex-wrap: wrap;
        img{
            margin: 0;
        }
        h3{
            font-size: 32px;
            line-height: 48px;
            padding-top: 15px;
            text-align: center;
        }
        p{
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            padding-right: 0;
        }
    }




    .qualty{
        width: 327px;
        flex-wrap: wrap;
        .qualty_text_block{
            order: 2;
            h3{
                font-size: 28px;
                line-height: 28px;
                padding: 0;
                text-align: center;
                margin-top: -15px;
            }
            p{
                font-size: 15px;
                line-height: 25px;
                padding: 0 24px 61px 24px;
                text-align: center;
            }
        }
        .qualty_img{
            width: 279px;
            height: 156px;
            background-image: url(../img/humancoffemobile.webp);
            margin-left: 24px;
            order: 1;
        }
    }



    .our_head_title{
        padding-left: 0;
        text-align: center;
    }
    .our_row{
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        .our_row_box{
            width: 350px;
            margin: 0 30px;
            h3{
                font-size: 28px;
                width: 270px;
                text-align: center; 
            }
            .before{
                &:before{
                    margin-bottom: 47px;
                    margin-left: 100px;
                } 
            }
            .before2{
                &:before{
                    margin-bottom: 47px;
                    margin-left: 100px;
                }  
            }
            .before3{
                &:before{
                    margin-bottom: 47px;
                    margin-left: 100px;
                } 
            }
            ul{
                width: 270px;
                text-align: center;
                li{
                    &:last-child{
                        padding-bottom: 80px;
                        
                    }
                }
            }
        }
    }


//    SUBSCRIBE   // 

    .create_plan_header {
        background-image: url(../img/CREATEPLANIMGmobile.webp);
        .plan__title {
            font-size: 40px;
            line-height: 40px;
        }
    }

    
    .works{
        .container{
            width: 580px;
            margin: auto;
        }
        .works_bg_dark{
            .works_block{
                margin-bottom: 90px;
                .block__row{
                    h2{
                        padding-left: 0;
                        
                    }
                    h3{
                        font-size: 28px;
                        line-height: 32px;
                    }
                    .row_col_subtitle{
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
    .drink_coffe{
        .row_left{
            display: none;
        }
        .row_right{
            width: 100%;
            .choice_1{
                .title_btn_block{
                    max-width: 370px;
                    h3{
                        font-size: 24px;
                        line-height: 28px;
                        margin-right: 22px;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    button{
                        padding-right: 10px;
                        padding-bottom: 0px;
                        margin-top: -50px;
                    }
                }
                .choice_forma{
                    ul{
                        flex-wrap: wrap;
                        padding-left: 0;
                        .active{
                            border-radius: 10px;
                        }
                        li{
                            width: 325px;
                            margin-right: 0;
                            margin-bottom: 16px;
                            h4{
                                margin-top: 0;
                                margin-bottom: 0;
                                padding: 24px 0 0px 25px;
                            }
                            p{
                                font-size: 15px;
                                line-height: 25px;
                                padding: 0px 25px 24px;
                            }
                        }
                    }
                }
            }
        }
        .order_summary{
            border-radius: 10px;
            .order_summary_block{
                margin: 0 0;
                padding: 30px 40px 30px 25px;
                h4{
                    margin: 0;
                }
                p{
                    margin-top: 10px;
                    margin-bottom: 0;
                    
                }
            }
        }
        a{
            margin: 60px 0 50px 70px;
        }
    }
    .modal{
        .modal_block{
            width: 327px;
            height: 597px;
            margin: 35px auto;
            h3{
                font-size: 28px;
                line-height: 32px;
                padding: 60px 0 30px 30px;
            }
            .modal_subtitle{
                padding: 20px 28px 10px;
            }
            .modal_mini_title{
                padding: 0 30px 0px;
                margin: 0 0 10px 0;
            }
            .modal_mini_text{
                display: none;
            }
            .link_block{
                display: none;
            }
            .modal_link{
                display: block;
                margin: 0 30px; 
                padding: 14px 30px;
            }
        }
    }
}